/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #a8dff8;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;

  i {
    font-size: 28px;
    color: #58e4ba;
    line-height: 0;
  }
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
