.skills {
  .progress-bar-wrap {
    background: #8fbfff;
    height: 18px;
  }

  .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;

    .skill {
      padding: 0;
      margin: 0 0 6px 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      color: #050d18;

      .val {
        float: right;
        font-style: normal;
      }
    }
  }
}
