#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #66175f;
  overflow-y: auto;

  .profile {
    .social-links {
      a {
        font-size: 18px;
        display: inline-block;
        background: #f14dd6;
        color: #ffffff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
      }
      a:hover {
        background: #f875fd;
        color: #192766;
        text-decoration: none;
      }
    }
    h1 {
      font-size: 24px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      -moz-text-align-last: center;
      text-align-last: center;
      font-family: 'Poppins', sans-serif;

      a,
      a:hover {
        color: #84d2f7;
        text-decoration: none;
      }
    }
    img {
      margin: 15px auto;
      display: block;
      width: 120px;
      height: 120px;
      border: 8px solid #f349ce;
    }
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #0f161a;
  color: #f51212;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;

  #header {
    left: 0;
  }
}
